{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    <h1>Mon premier controller</h1>
    <p>{{ maVariable }}</p>
    {% for element in tableau %}
        <p>{{ element }}</p>
    {% endfor %}
    {% set autreVariable = "une autre variable" %}

    <p>{{ autreVariable }}</p>

    {% apply upper|raw %}
        <p>{{ autreVariable }}</p>
    {% endapply %}

    {% set book = {
        title: 'Pif',
        year: 1995,
        author: 'Paf'
    } %}

    <p>Ce livre est {{ book.title|upper }}, {{ book.subtitle ?? 'pas de sous-titre' }}, de l'année {{ book.year }}</p>


    {% set variableHtml = "<span>Variable HTML</span>" %}

    {{ variableHtml|raw }}

    <p>{{ "now"|date('d-m-Y h:i:s') }}</p>
</div>
{% endblock %}
